/*General*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

button{ margin-top: 1vh; }
h1,h3{ color: whitesmoke; }


#redirect_commerce:hover{
    background: #FFC107;
    color: #171717;
}


/*Section HERO -> Inicio de la página*/
.hero,.carousel,.about-us,.contact,.info{
    width: 100%; 
    z-index: 100;
}

.hero h1,h3,h4{
    z-index: 101;
    color: whitesmoke;
}

.hero h1{
    font-size: 10vh;
    margin-left: 6vh;
    color: #171717;
}

.hero h4{
    font-size: 4vh;
    margin-left: 6vh;
    color: #171717;
}

.hero h3{ 
    width: 30vw;
    text-align: justify;
    margin-right: 15vh;    
}

.hero{
    height: 70vh;
    background: #221D23;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 98;
}

.hero-divider{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.detail{
    z-index: 99;
    background:#FFC107;
    top: -35vh;
    left: 3vh;
    position: absolute;
    height: 200vh;
    width: 80vh;
    transform: rotate(-35deg);
}

#redirect_commerce{
    width: 90%;
    height: 20%;
    text-align: center;
    line-height: 15vh;
    font-size: 5vh;
    background: #171717;
};

#redirect_commerce:hover{
    background: #FFC107;
    color: #171717;
}




/*Section ABOUT-US -> Carrusel de imagenes*/
.about-us h5{ color: whitesmoke; }
.about-us p{ color: whitesmoke; }
.about-us h3{ color: #171717; }
.about-us{
    height: 90vh;
    background: #FFC107;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/*Section CONTACT -> Registro*/
.contact{
    height: 50vh;
    background:#221D23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: whitesmoke;
}

/*Section INFO -> Redes sociaeles*/ 
.info h1{ margin-bottom: 4vh; }
.info{
    color: whitesmoke;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background:#221D23;
}

.info-divider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.card{ background: whitesmoke; }

/*Media Queries*/

@media(max-height: 700px){
    .carousel{
        display: none;
    }
    .about-us h3{
        display: none;
    }
}

@media (max-width:1100px){
    h3{ font-size: 2.5vh}
    .hero h3{ margin-right: 5vh; }
}

@media (max-width:1028px){
    .detail{
        height: 90vh;
        width: 150vh;
        top: 0vh;
        left: -69.5vh;
        transform: rotate(90deg);
    }

    .info{ height: 80vh; }
    .info-divider{ flex-direction: column; }
    .info-divider .card{ margin: 1vh; }
    body{ background-color: #221D23; }
}

@media(max-width:800px){
    .detail{ display: none;}
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    #hdone{ background: #FFC107; }
    #hdone h1{ 
        margin-left: 0vh;
        font-size: 7vh;
    }
    #hdone h4{ 
        margin-left: 0vh;
        font-size: 3vh;
    }

    #hdone .opciones{
        margin-left: 0vh;
    }
    .hero-divider{
        font-size: 20px;
        height: min-content;
        width: 100%;
    }
    .hero-divider h3{
        margin-top: 30px;
        width: 100%;
        font-size: 2vh;
        line-height: 3vh;
        padding: 2vh;

    }
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
    }

    .contact{ height: 700px; }


    .info{
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    body{ background-color: #221D23; }
}